{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Ici retrouver les Organes Creux (Coeur, Vessie)! ✅</h1>

    This friendly message is coming from:
    <img src="https://thumbs.dreamstime.com/z/coeur-r%C3%A9el-40710152.jpg">
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/OrganescreuxController.php'|file_link(0) }}">src/Controller/OrganescreuxController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/organescreux/index.html.twig'|file_link(0) }}">templates/organescreux/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
