{% extends 'base.html.twig' %}


{% block body %}
    <ul>
        {% for organ in products %}
            <li>
                <span>{{ organ.name }}</span>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
