{% extends 'base.html.twig' %}


{% block body %}
    <div class="jumbotron" style="margin: 10px;">
    <h1 class="display-3">Bienvenue& sur OrganeSales</h1>
    <p class="lead">Besoin de renouveau, pourquoi ne pas essayer</p>
    <hr class="my-4">
        <iframe name="compte_rebours_calendrier_journalier" id="compte_rebours_calendrier_journalier" style="width:300px;height:40px;" src="https://www.calendrier-journalier.fr/affiche_compte_rebours.php?date=26/10/2018&heure=18:00" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
    <p>Organ sales, c'est plus de 20 ans de trafic d'organes, avec comme seul mot d'ordre la qualitée avant tout.
        Retrouvez une trés larges gamme d'organes, un paiments secrurisée et une livraison en moins de 48h dans un camion frigorifique. <br>
        Nos humains sont élevé en pleine air dans des fermes du canada. Nous disposons des labels OAC CCP et AC (Appelation d'origine contôlée,
        Certification de conformitée du produit et Agriculture biologiques) Le tout certifier sans hormones de croissance ni antibiotique.</p>
    <img src="https://st2.depositphotos.com/3072055/9755/i/950/depositphotos_97555900-stock-photo-cutting-meat-slaughterhouse-workers-in.jpg">

    </div>

    <ul>
        {% for organ in products %}
            <li>
                <a href="{{ path('product',{'productId': organ.id }) }}">
                    <p>{{ organ.name }}</p>
                </a>
                <p>{{ organ.price }}</p>


            </li>


        {% endfor %}
    </ul>

{% endblock %}
