{% extends 'base.html.twig' %}

{% block title %}Details du produit{% endblock %}

{% block body %}

    <div class="jumbotron" style="margin: 10px;">
        <h1 class="display-3">{{ product.name }}</h1>
        <p class="lead"></p>
        <hr class="my-4">

        <img src="{{ product.picture }}" alt="photo de {{ product.name }}">
        <button type="button" class="btn btn-primary btn-lg">Comprar</button>
    </div>


{% endblock %}
