{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ici retrouver les Organes Vitaux (Cerveau, Poumon, foie, pancréas, reins)!! ✅</h1>
    <h2> Profiter de l'Offre Special 1 rein acheter le deuxieme à moitié prix </h2>
    <img src="http://www.bouyafar.com/wp-content/uploads/2014/11/url5.jpg">
    This friendly message is coming from:

    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/OrganesvitauxController.php'|file_link(0) }}">src/Controller/OrganesvitauxController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/organesvitaux/index.html.twig'|file_link(0) }}">templates/organesvitaux/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
